<div class="container pl-20 pr-20">

  <div class="mb-12">
    <h4 class="mt-4"> {{isNewCountry ? "Register a" : "Edit a"}} Country </h4>

    <!-- <h4 class="mt-4">Register a Country</h4> -->
  </div>

  <!-- <p-toast></p-toast> -->
  <form #fLogin="ngForm" (ngSubmit)="saveCountry(fLogin)" novalidate>
    <div class="card">

      <div class="row p-2" >
        <div class="col-6 ">
            <div class="p-grid p-fluid col-md-9 col-sm-12">
              <div class="row p-2">
                <div class="col-12 col-md-10">
                  <div class="p-field">
    
                    <label for="countryName">Country Name*</label>
                    <p-dropdown *ngIf="isNewCountry" name="cname" [options]="countryList" optionLabel="name"
                      [(ngModel)]="cou" (ngModelChange)="onStatusChange($event)" [showClear]="true"
                      placeholder={{selectCountry}}>
                    </p-dropdown>

                    <p-dropdown  *ngIf="!isNewCountry"  name="cname"  optionLabel="name" 
                     [disabled]="!isNewCountry" [showClear]="true" 
                    placeholder={{cou.name}}>>
                    </p-dropdown>
                  </div>
                </div>
              </div>
              <div class="row p-2">
                <div class="col-12 col-md-10">
                  <div class="p-field">
                    <label for="fRegione">Region*</label>
                    <input type="text" name="Regionme" [(ngModel)]="cou.region" readonly class="form-control" />
    
                  </div>
                </div>
              </div>

                <div class="row p-2">
                  <div class="col-12 col-md-10">
                    <div class="p-field">
                      <label for="projApprovelStatus" class="col-md-">Country Flag *    </label><label> </label>
                      <ng-container *ngIf="cou.flagPath != null || cou.flagPath !== ''; else elseBlock " class="form-control">
                        <img src="{{cou.flagPath}}" alt="img" style="height: 150px; width: 250px;">
                      </ng-container>
                      <ng-template #elseBlock>
                      </ng-template>
                    </div>
                  </div>
              </div>
            </div>
    
    
    
    
    
          <div class="p-grid p-fluid col-md-9 col-sm-12">
            <div class="row p-2">
              <div class="col-12 col-md-10">
                <div class="p-field">
                  <label for="projApprovelStatus">Description*</label>
                  <textarea rows="5" name="description" cols="30" [(ngModel)]="cou.description" class="form-control"
                    pInputTextarea>
    
                            </textarea>
    
                </div>
    
              </div>
            </div>
          </div>
    
          <div class="p-grid p-fluid col-md-9 col-sm-12">
            <div class="row p-2">
              <div class="col-12 col-md-10">
    
    
                <div class="p-field">
                  <label for="AssignSectors">Assign Sectors*</label>
                  <p-multiSelect appendTo="body" name="sectors" #fmodules="ngModel" [options]="sectorList" optionLabel="name"
                    [(ngModel)]="selectedSectors" (ngModelChange)="selectmod($event)" [filter]="true"
                    placeholder="Select Sector">
                  </p-multiSelect>
                </div>
    
              </div>
            </div>
          </div>
    
          <div class="p-grid p-fluid col-md-9 col-sm-12">
            <div class="row p-2">
              <div class="col-12 col-md-10">
    
                <div class="p-field">
                  <label for="AssignSectors">Assign Modules*</label>
                  <p-multiSelect appendTo="body" name="modules" #fmodules="ngModel" [options]="accessmodules" optionLabel="name"
                    [(ngModel)]="selectedModules" (ngModelChange)="selectmod($event)" [filter]="true"
                    placeholder="select modules">
                  </p-multiSelect>
                </div>
    
              </div>
            </div>
          </div>
    
    
          <div class="row">
            <div class="p-grid col-md-5 ">
              <div class="row p-2">
                <div class="col-8 col-md-8">
      
                  <div class="p-field">
      
                    <button pButton p-2  class="btn btn-primary btn-block text-uppercase" type='button'label="Save" type="submit"  ></button>
      
                  </div>
      
                </div>
              </div>
            </div>
            <div class="p-grid col-md-6">
              <div class="row p-2">
                <div class="col-8 col-md-8">
      
                  <div class="p-field" *ngIf="!isNewCountry">
      
                    <button pButton pRipple p-2  class="btn btn-primary btn-block text-uppercase" type='button'
                    (click)="activateCountry(cou)">
                    {{cstaus == 0 ? "Activate" : "Deactivate"}}
                  </button>
      
                  </div>
      
                </div>
              </div>
            </div>
            <!-- <div class="p-grid p-fluid col-md-6 col-sm-12">
          
              <div *ngIf="!isNewCountry">
                <button pButton pRipple class="btn btn-primary btn-block text-uppercase" type='button'
                  (click)="activateCountry(cou)">
                  {{cstaus == 0 ? "Activate" : "Deactivate"}}
                </button>
              </div>
            </div> -->
          </div>
         
    
          
    
    
    
        </div>
        <div class="col-6"  >
          <!-- <div class="p-grid p-fluid col-md-12 col-sm-12" style="size: 100%;"> -->
            <!-- <div> -->
              <countries-map [data]="mapData1" maxColor='#046312' noDataColor='grey' backgroundColor='white' minColor="blue"
                [showCaption]=false >
              </countries-map>
            <!-- </div> -->
    
          <!-- </div> -->
        </div>
      </div>
 
    </div>

  </form>

</div>
<p-toast position="top-right"></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }" [baseZIndex]="10000" rejectButtonStyleClass="p-button-text">
</p-confirmDialog>