
.has-details {
    position: relative;
  }
  
  .details {
    position: absolute;
    top: 0;
    transform: translateY(0%) scale(0) ;
    transition: transform 0.1s ease-in;
    transform-origin: left;
    display: inline;
    /* background: white; */
    z-index: 20;
    min-width: 100%;
    padding: 1rem;
    /* border: 1px solid black; */
  }
  
  .has-details:hover span {
    transform: translateY(0%) translateX(0%) scale(1);
    margin-top: -40px;
  
    
  }

  .pointer {
    cursor: pointer;
}
  